@import "./colors";

footer {
  display: grid;
  grid-template-columns: 1fr 1fr;
  & > section {
    order: 2;

    display: grid;
    grid-template-columns: 1fr auto;
    gap: 0 10ch;
    align-items: center;
    text-align: end;
    font-size: larger;

    hr {
      grid-column: span 2;

      height: 1px;
      width: 100%;

      margin: 0;
      border: none;
      background-color: $stone;
    }

    h4,
    h5 {
      margin: 0;
    }
    h4 {
      color: $autumn;
    }
    output,
    strong {
      padding-right: 1rem;
    }
  }
  aside {
    font-size: small;
    ul {
      list-style: none;
      margin: 0;
      padding: 0;
    }
    h5 {
      margin-bottom: 0;
    }
  }
}
