@import "./colors";

main table {
  border-collapse: collapse;
  margin: 3rem 0;
  width: 100%;
  text-align: end;

  th,
  td {
    border-width: 1px;
    border-style: solid;
    border-color: $stone transparent;
    padding: 1rem;

    &:first-child {
      text-align: start;
    }
  }

  th {
    border: 2px none $mist;
    border-top-style: solid;
    color: $autumn;
    font-size: 1rem;
  }

  tbody > tr:nth-child(even) {
    // background-color: #333;
  }
}
